<%= simple_form_for @condominium_fee, url: pay_fee_url do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="col-md-10">
        <div class="form-inputs">
          <h4>Ao clicar em <b>confirmar</b>, você concorda em adiar o pagamento para o mês seguinte, o que acarretará em <b>multa de 5%</b> sobre o valor da taxa de condomínio</h4><br>
          <% if params[:postponed] %>
              <%= check_box_tag :postponed, true, true, hidden: true %>
          <% else %>
              <%= f.input :paid %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-actions">
          <%= f.submit 'Confirmar', class: 'btn btn-default' %>
        </div>
      </div>
    </div>
<% end %>
