<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Apartment:</strong>
      <%= @expense.apartment_id %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Description:</strong>
      <%= @expense.description %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Is fixed value:</strong>
      <%= @expense.is_fixed_value %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Value:</strong>
      <%= @expense.value %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Month of ref:</strong>
      <%= @expense.month_of_ref %>
    </p>
  </div>
  <div class="col-md-4">
  </div>
</div>
