<%= content_for :full_box do %>opa
<% end %>
<div class="box box-primary box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">
      <i class="fa fa-money"></i> <span>Taxas de condomínio</span>
    </h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Apartment</th>
        <th>Value</th>
        <th>Due date</th>
        <th>Month Ref</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <% @condominium_fees.each do |condominium_fee| %>
          <tr>
            <td><%= condominium_fee.apartment_id %></td>
            <td><%= condominium_fee.value2f %></td>
            <td><%= l(condominium_fee.due_date, format: :date) %></td>
            <td><%= l(condominium_fee.month_ref, format: :month_and_year) %></td>
            <td>
              <% if condominium_fee.paid %>
                  <span class="label label-success">Pago <i class="fa fa-check"></i></span>
              <% elsif condominium_fee.postponed %>
                  <span class="label label-default">Pagamento Adiado <i class="fa fa-clock"></i></span>
              <% else %>
                  <%= link_to payment_page_path(condominium_fee), class: 'btn btn-xs btn-info' do %>
                      Pagar taxa <i class="fa fa-dollar"></i>
                  <% end %>
                  <%= link_to payment_page_path(condominium_fee, postponed: true), class: 'btn btn-xs btn-warning' do %>
                      Adiar pagamento <i class="fa fa-dollar"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>
<div class="box box-primary box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">
      <i class="fa fa-dollar"></i> <span>Despesas gerais <small style="color: #f0f0f0"> (despesas fixas são divididas proporcionalmente entre todos os apartamentos)</small></span>
    </h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Fixo?</th>
        <th>Mês de referência</th>
      </tr>
      </thead>

      <tbody>
      <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.description %></td>
            <td><%= expense.value2f %></td>
            <td><%= expense.is_fixed_value ? 'Sim' : 'Não' %></td>
            <td><%= l(expense.month_of_ref, format: :month_and_year) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>